---
title: sign-in page
css:
  - style.css
---

{{!< base}}

<main>
  <div>
  <h1>Вход</h1>
  <a href="./index.hbs">back</a>
  <br />
    {{> button classes="btn btn__dark"}}
    {{> button classes="btn btn__dark"}}
  </div>
</main>
